{
  "openapi": "3.1.0",
  "info": {
    "title": "BOTCHA - Reverse CAPTCHA for AI Agents",
    "version": "0.11.0",
    "description": "Prove you're a bot. Humans need not apply. A reverse CAPTCHA system that only AI agents can pass.",
    "contact": {
      "name": "BOTCHA",
      "url": "https://botcha.ai"
    },
    "license": {
      "name": "MIT",
      "url": "https://github.com/dupe-com/botcha/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://botcha.ai",
      "description": "Production server"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "summary": "Get API documentation",
        "description": "Returns comprehensive API documentation (JSON for bots, ASCII art for humans)",
        "operationId": "getRootInfo",
        "responses": {
          "200": {
            "description": "API documentation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": { "type": "string" },
                    "version": { "type": "string" },
                    "runtime": { "type": "string" },
                    "tagline": { "type": "string" },
                    "description": { "type": "string" },
                    "quickstart": { "type": "object" },
                    "endpoints": { "type": "object" },
                    "challengeTypes": { "type": "object" },
                    "authentication": { "type": "object" },
                    "rateLimit": { "type": "object" },
                    "sdk": { "type": "object" },
                    "links": { "type": "object" }
                  }
                }
              },
              "text/plain": {
                "schema": { "type": "string" }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "summary": "Health check",
        "description": "Returns health status of the API",
        "operationId": "getHealth",
        "responses": {
          "200": {
            "description": "API is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string" },
                    "runtime": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/challenges": {
      "get": {
        "summary": "Generate a challenge (v1 unified endpoint)",
        "description": "Get a challenge - hybrid by default, or specify type via query param. This is the recommended v1 API endpoint.",
        "operationId": "getV1Challenge",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["hybrid", "speed", "standard"],
              "default": "hybrid"
            },
            "description": "Challenge type: hybrid (speed+reasoning), speed (SHA256 only), or standard (puzzle)"
          },
          {
            "name": "difficulty",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["easy", "medium", "hard"],
              "default": "medium"
            },
            "description": "Difficulty level (only applies to standard challenges)"
          }
        ],
        "responses": {
          "200": {
            "description": "Challenge generated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "type": { "type": "string" },
                    "warning": { "type": "string" },
                    "challenge": { "type": "object" },
                    "instructions": { "type": "string" },
                    "tip": { "type": "string" },
                    "verify_endpoint": { 
                      "type": "string",
                      "description": "URL to POST your solution to" 
                    },
                    "submit_body": {
                      "type": "object",
                      "description": "Example request body format for verification"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/v1/challenges/{id}/verify": {
      "post": {
        "summary": "Verify a challenge (v1 unified endpoint)",
        "description": "Submit your solution to a challenge. Supports hybrid, speed, and standard challenges.",
        "operationId": "verifyV1Challenge",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Challenge ID from the challenge response"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "required": ["type", "speed_answers", "reasoning_answers"],
                    "properties": {
                      "type": { "type": "string", "enum": ["hybrid"] },
                      "speed_answers": {
                        "type": "array",
                        "items": { "type": "string" },
                        "description": "SHA256 hash answers (first 8 hex chars)"
                      },
                      "reasoning_answers": {
                        "type": "object",
                        "description": "Mapping of question IDs to answers"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": ["type", "answers"],
                    "properties": {
                      "type": { "type": "string", "enum": ["speed"] },
                      "answers": {
                        "type": "array",
                        "items": { "type": "string" },
                        "description": "SHA256 hash answers (first 8 hex chars)"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": ["answer"],
                    "properties": {
                      "answer": {
                        "type": "string",
                        "description": "Answer to the standard puzzle"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Challenge verification result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "message": { "type": "string" },
                    "solveTimeMs": { "type": "number" },
                    "verdict": { "type": "string" },
                    "badge": { "$ref": "#/components/schemas/Badge" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          }
        }
      }
    },
    "/v1/token": {
      "get": {
        "summary": "Get challenge for JWT token flow",
        "description": "Returns a speed challenge. Solve it and POST to /v1/token/verify to receive a JWT token for authenticated access.",
        "operationId": "getTokenChallenge",
        "responses": {
          "200": {
            "description": "Token challenge generated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "challenge": { "type": "object" },
                    "token": { "type": "null" },
                    "nextStep": { "type": "string" }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/v1/token/verify": {
      "post": {
        "summary": "Verify challenge and receive JWT token",
        "description": "Submit solution to the challenge from GET /v1/token. Returns a JWT Bearer token valid for 1 hour.",
        "operationId": "verifyTokenChallenge",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["id", "answers"],
                "properties": {
                  "id": { "type": "string" },
                  "answers": {
                    "type": "array",
                    "items": { "type": "string" }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Challenge verified, JWT token issued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "message": { "type": "string" },
                    "token": { "type": "string" },
                    "expiresIn": { "type": "string" },
                    "usage": { "type": "object" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing id or answers"
          },
          "403": {
            "description": "Challenge failed"
          }
        }
      }
    },
    "/v1/hybrid": {
      "get": {
        "summary": "Get hybrid challenge",
        "description": "Get a hybrid challenge combining speed (SHA256) and reasoning questions. The ultimate bot test.",
        "operationId": "getHybridChallenge",
        "responses": {
          "200": {
            "description": "Hybrid challenge generated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "type": { "type": "string" },
                    "warning": { "type": "string" },
                    "challenge": { "type": "object" },
                    "instructions": { "type": "string" },
                    "tip": { "type": "string" },
                    "verify_endpoint": { "type": "string" },
                    "submit_body": { "type": "object" }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      },
      "post": {
        "summary": "Verify hybrid challenge",
        "description": "Submit solutions to both speed and reasoning parts of the hybrid challenge.",
        "operationId": "verifyHybridChallenge",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["id", "speed_answers", "reasoning_answers"],
                "properties": {
                  "id": { "type": "string" },
                  "speed_answers": {
                    "type": "array",
                    "items": { "type": "string" }
                  },
                  "reasoning_answers": {
                    "type": "object",
                    "description": "Mapping of question IDs to answers"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Hybrid challenge verification result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "message": { "type": "string" },
                    "speed": { "type": "object" },
                    "reasoning": { "type": "object" },
                    "totalTimeMs": { "type": "number" },
                    "verdict": { "type": "string" },
                    "badge": { "$ref": "#/components/schemas/Badge" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/reasoning": {
      "get": {
        "summary": "Get reasoning challenge",
        "description": "Get a reasoning-only challenge with questions requiring AI/LLM capabilities.",
        "operationId": "getReasoningChallenge",
        "responses": {
          "200": {
            "description": "Reasoning challenge generated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "type": { "type": "string" },
                    "warning": { "type": "string" },
                    "challenge": { "type": "object" },
                    "tip": { "type": "string" },
                    "verify_endpoint": { "type": "string" },
                    "submit_body": { "type": "object" }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      },
      "post": {
        "summary": "Verify reasoning challenge",
        "description": "Submit answers to the reasoning questions.",
        "operationId": "verifyReasoningChallenge",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["id", "answers"],
                "properties": {
                  "id": { "type": "string" },
                  "answers": {
                    "type": "object",
                    "description": "Mapping of question IDs to answers"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reasoning challenge verification result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "message": { "type": "string" },
                    "solveTimeMs": { "type": "number" },
                    "score": { "type": "string" },
                    "verdict": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api": {
      "get": {
        "summary": "Get API information",
        "description": "Returns information about BOTCHA endpoints and verification methods",
        "operationId": "getApiInfo",
        "responses": {
          "200": {
            "description": "API information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": { "type": "string" },
                    "version": { "type": "string" },
                    "tagline": { "type": "string" },
                    "endpoints": { "type": "object" },
                    "verification": { "type": "object" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/challenge": {
      "get": {
        "summary": "Generate a standard challenge",
        "description": "Get a computational challenge that must be solved within 5 seconds",
        "operationId": "getChallenge",
        "parameters": [
          {
            "name": "difficulty",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["easy", "medium", "hard"],
              "default": "medium"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Challenge generated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "challenge": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string" },
                        "problem": { "type": "string" },
                        "timeLimit": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Verify a standard challenge",
        "description": "Submit the answer to a challenge",
        "operationId": "verifyChallenge",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["id", "answer"],
                "properties": {
                  "id": { "type": "string" },
                  "answer": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Challenge verification result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "message": { "type": "string" },
                    "solveTime": { "type": "number" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/speed-challenge": {
      "get": {
        "summary": "Generate a speed challenge",
        "description": "Get 5 SHA256 problems that must be solved within 500ms total. Humans cannot pass this.",
        "operationId": "getSpeedChallenge",
        "responses": {
          "200": {
            "description": "Speed challenge generated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "warning": { "type": "string" },
                    "challenge": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string" },
                        "problems": {
                          "type": "array",
                          "items": { "type": "string" }
                        },
                        "timeLimit": { "type": "string" },
                        "instructions": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Verify a speed challenge",
        "description": "Submit answers to all 5 problems within 500ms. On success, returns a shareable badge.",
        "operationId": "verifySpeedChallenge",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["id", "answers"],
                "properties": {
                  "id": { "type": "string" },
                  "answers": {
                    "type": "array",
                    "items": { "type": "string" }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Speed challenge verification result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "message": { "type": "string" },
                    "solveTimeMs": { "type": "number" },
                    "verdict": { "type": "string" },
                    "badge": { "$ref": "#/components/schemas/Badge" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/verify-landing": {
      "post": {
        "summary": "Verify landing page challenge",
        "description": "Solve the embedded challenge from the landing page HTML. Parse <script type='application/botcha+json'> for instructions. Returns a token for accessing /agent-only and a shareable badge.",
        "operationId": "verifyLandingChallenge",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["answer", "timestamp"],
                "properties": {
                  "answer": {
                    "type": "string",
                    "description": "SHA256('BOTCHA-LANDING-YYYY-MM-DD') first 16 hex chars, using today's date"
                  },
                  "timestamp": {
                    "type": "string",
                    "description": "ISO 8601 timestamp"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Challenge solved! Token granted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "message": { "type": "string" },
                    "token": { "type": "string" },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "header": { "type": "string" },
                        "value": { "type": "string" },
                        "expires_in": { "type": "string" },
                        "use_with": { "type": "string" }
                      }
                    },
                    "badge": { "$ref": "#/components/schemas/Badge" }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Incorrect answer"
          }
        }
      }
    },
    "/api/badge/{id}": {
      "get": {
        "summary": "Verify a badge",
        "description": "Verify that a badge token is valid and return its details.",
        "operationId": "verifyBadge",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "The badge token to verify"
          }
        ],
        "responses": {
          "200": {
            "description": "Badge is valid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "valid": { "type": "boolean" },
                    "badge": {
                      "type": "object",
                      "properties": {
                        "method": { "type": "string" },
                        "solveTimeMs": { "type": "number" },
                        "verifiedAt": { "type": "string" }
                      }
                    },
                    "verifyUrl": { "type": "string" },
                    "imageUrl": { "type": "string" }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Invalid badge"
          }
        }
      }
    },
    "/badge/{id}": {
      "get": {
        "summary": "Badge verification page",
        "description": "HTML page showing badge verification details. Suitable for sharing on social media.",
        "operationId": "getBadgePage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "The badge token"
          }
        ],
        "responses": {
          "200": {
            "description": "HTML verification page",
            "content": {
              "text/html": {
                "schema": { "type": "string" }
              }
            }
          },
          "404": {
            "description": "Invalid badge"
          }
        }
      }
    },
    "/badge/{id}/image": {
      "get": {
        "summary": "Badge image",
        "description": "SVG image of the badge. Can be embedded in markdown or social media.",
        "operationId": "getBadgeImage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "The badge token"
          }
        ],
        "responses": {
          "200": {
            "description": "SVG badge image",
            "content": {
              "image/svg+xml": {
                "schema": { "type": "string" }
              }
            }
          }
        }
      }
    },
    "/agent-only": {
      "get": {
        "summary": "Protected endpoint (agents only)",
        "description": "Access granted only to verified AI agents. Supports two authentication methods: 1) X-Botcha-Landing-Token header (from POST /api/verify-landing), or 2) Authorization: Bearer <token> header (from POST /v1/token/verify).",
        "operationId": "getAgentOnly",
        "security": [
          {
            "BotchaLandingToken": []
          },
          {
            "BotchaBearerToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Access granted to verified agent",
            "headers": {
              "X-Botcha-Version": {
                "schema": { "type": "string" },
                "description": "BOTCHA version (e.g., 0.3.0)"
              },
              "X-Botcha-Enabled": {
                "schema": { "type": "string" },
                "description": "Whether BOTCHA is enabled (true/false)"
              },
              "X-Botcha-Methods": {
                "schema": { "type": "string" },
                "description": "Supported verification methods (comma-separated)"
              },
              "X-Botcha-Docs": {
                "schema": { "type": "string" },
                "description": "URL to OpenAPI documentation"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "message": { "type": "string" },
                    "verified": { "type": "boolean" },
                    "agent": { "type": "object" },
                    "method": { "type": "string" },
                    "timestamp": { "type": "string" },
                    "secret": { "type": "string" },
                    "badge": { "$ref": "#/components/schemas/Badge" }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Access denied - not an AI agent. Challenge provided in response.",
            "headers": {
              "X-Botcha-Version": {
                "schema": { "type": "string" },
                "description": "BOTCHA version"
              },
              "X-Botcha-Challenge-Id": {
                "schema": { "type": "string" },
                "description": "Challenge ID to solve"
              },
              "X-Botcha-Challenge-Type": {
                "schema": { "type": "string" },
                "description": "Type of challenge (compute, speed, etc.)"
              },
              "X-Botcha-Time-Limit": {
                "schema": { "type": "integer" },
                "description": "Time limit in milliseconds"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "error": { "type": "string" },
                    "message": { "type": "string" },
                    "hint": { "type": "string" },
                    "challenge": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string" },
                        "puzzle": { "type": "string" },
                        "timeLimit": { "type": "string" },
                        "hint": { "type": "string" },
                        "submitHeader": { "type": "string" },
                        "answerHeader": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Badge": {
        "type": "object",
        "description": "Shareable verification badge that can be posted to social media",
        "properties": {
          "id": {
            "type": "string",
            "description": "Signed badge token"
          },
          "verifyUrl": {
            "type": "string",
            "description": "URL to verify the badge"
          },
          "share": {
            "type": "object",
            "description": "Pre-formatted text for sharing",
            "properties": {
              "twitter": {
                "type": "string",
                "description": "Twitter-optimized share text with hashtags"
              },
              "markdown": {
                "type": "string",
                "description": "Markdown with embedded badge image"
              },
              "text": {
                "type": "string",
                "description": "Plain text version"
              }
            }
          },
          "imageUrl": {
            "type": "string",
            "description": "URL to SVG badge image"
          },
          "meta": {
            "type": "object",
            "description": "Badge metadata",
            "properties": {
              "method": {
                "type": "string",
                "enum": ["speed-challenge", "landing-challenge", "standard-challenge", "web-bot-auth"]
              },
              "solveTimeMs": {
                "type": "number",
                "description": "Time taken to solve (if applicable)"
              },
              "verifiedAt": {
                "type": "string",
                "description": "ISO 8601 timestamp"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "BotchaAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Botcha-Token",
        "description": "Solve a challenge first, then include the challenge ID and answer"
      },
      "BotchaLandingToken": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Botcha-Landing-Token",
        "description": "Token received from POST /api/verify-landing after solving the landing page challenge"
      },
      "BotchaBearerToken": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT token received from POST /v1/token/verify after solving a speed challenge"
      }
    }
  },
  "tags": [
    {
      "name": "verification",
      "description": "AI agent verification endpoints"
    }
  ]
}
